body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 200vh;
}

form {
    display: flex;
    flex-direction: column;
}

.img_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    width: 150px;
}


input[type="text"],
input[type="tel"] {
    padding: 7px;
    margin-bottom: 20px;
    margin-top: 2px;
    font-size: 15px;
}


input[type="submit"] {
    padding: 10px;
    font-size: 17px;
    background-color: #a057ef;
    color: white;
    font-weight: 500;
    height: 50px;
}

input {
    background-color: #f2f3f7;
    border-radius: 7px;
    border: none;
}


p {
    margin-bottom: 20px;
    margin: 0;
    padding-right: 5px;
}

textarea {
    background-color: #f2f3f7;
    border-radius: 7px;
    border: none;
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 5px;
    font-size: 17px;
    resize: none;
}

