body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
}

.img_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    width: 150px;
}


input[type="text"],
input[type="tel"] {
    padding: 7px;
    margin-bottom: 20px;
    margin-top: 2px;
    font-size: 15px;
}


input[type="submit"] {
    padding: 10px;
    font-size: 17px;
    background-color: #a057ef;
    color: white;
    font-weight: 500;
    height: 50px;
}

input {
    background-color: #f2f3f7;
    border-radius: 7px;
    border-color: #a057ef;
    border-width: 1px;
    border-style:solid;
}

p {
    display: flex;
    margin-top: 2px;
}


textarea {
    background-color: #f2f3f7;
    border-radius: 7px;
    border-color: #a057ef;
    border-style:solid;
    border-width: 1px;
    height: 100px;
    width: 100%;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 17px;
    resize: none;
}

